@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);
    --color-soft-violet: hsl(273, 75%, 66%);
    --color-soft-blue: hsl(240, 73%, 65%);
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    --color-light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 12px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color-soft-violet), var(--color-soft-blue));
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    flex-direction: column;
    background-color: white;
}

.card__img {
    text-align: center;
    background: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 95%;
}

.card__img-background {
    margin: -33% 0 0 -8%;
}

.card__img-cube {
    display: none;
}

.card__faq {
    padding: 0rem 2rem 4rem;
    width: 27rem;
}

.faq__heading {
    margin: 3rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.faq {
    border-bottom: 1px solid var(--color-light-grayish-blue);
}

 .faq .faq__question::after {
    content: url("../images/icon-arrow-down.svg");
    right: 0;
    position: absolute;
}

.faq[open] .faq__question::after {
    transform: rotate(180deg);
}

.faq__question {
    font-size: 1.1rem;
    color: var(--color-very-dark-grayish-blue);
    list-style: none;
    outline: 0;
    cursor: pointer;
    position: relative;
    margin: 1.2rem 0;
}

.faq[open] .faq__question {
    font-weight: 700;
}

.faq__question:hover {
    color: var(--color-soft-red);
}

.faq__answer {
    color: var(--color-dark-grayish-blue);
    margin-bottom: 1.2rem;
}

footer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .7rem;
}

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row;
        width: 70rem;
    }

    .card__faq {
        padding: 5rem;
        width: 50%;
    }

    .faq__heading {
        text-align: left;
        margin-top: 0;
    }

    .card__img {
        background: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: 106% 63%;
        width: 50%;
        display: flex;
        overflow: hidden;
    }

    .card__img-background {
        margin: 0;
        margin-left: -7rem;
        align-self: center;
    }

    .card__img-cube {
        display: inline;
        position: absolute;
        top: 14rem;
        left: -8rem;
    }
}